body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;

    position: fixed;
    top: 0;
    left: 0;
}

.container{
    width: 935px;
    height: 54px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-icon{
    font-size: 24px;
    cursor: pointer;
    color: #000;
}

.icons ion-icon{
    margin-right: 25px;
}

.icons ion-icon:last-child{
    margin-right: 0;
}

.logo div{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}
.logo img{
    width: 103px;
    height: 29px;
    cursor: pointer;
}

.search{
    width: 300px;

    display: flex;
    justify-content: space-around;
}

header input{
    width: 215px;
    height: 28px;
    border-radius: 3px;

    color: #979797;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    outline: none;
}

input::placeholder{
    text-align: center;
    color: #979797;
    font-weight: 400;
    font-size: 12px;
}

/* ----------------------------------conteudo principal ------------------------------- */

.content{
    width: 935px;
    height: 800px;
    margin: 0 auto;
    margin-top: 88px;

    display: flex;
}

.main{
    /* background-color: aqua; */
    width: 614px;
    height: 800px;
}

.stories{
    position: relative;

    background-color: #FFFFFF;
    width: 100%;
    height: 118px;
    border: 1px solid #DBDBDB;
    margin-bottom: 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

.stories img{
    width: 56px;
    height: 56px;
}

.story-img{
    width: 66px;
    height: 66px;
    background-image: url(../images/stories/stories_background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories > div{
    width:66px;
    margin-left: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.stories p{
    overflow: hidden !important;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    width: 100%;
}

.stories ion-icon{
    position: absolute;

    color: #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgb(162, 161, 161));
    cursor: pointer;
    font-size: 36px;
    top: 42px;
    right: 10px;
}


.posts{
    background-color: orange;
    width: 100%;
    height: 100px;
}



sidebar{
    background-color: pink;
    width: 321px;
    height: 800px;
}









